<script>window.CAMMINATORI = {{ site.data.camminatori | jsonify }};</script>
<div class="foottrail" aria-hidden="true">
  <div class="trail trail--a" data-trail="a">
    <span class="foot foot--left" style="animation-delay:0s,0s"><span class="foot__mark foot__mark--l"></span></span>
    <span class="foot foot--right" style="animation-delay:0.14s,0s"><span class="foot__mark foot__mark--l"></span></span>
    <span class="foot foot--left foot--back" style="animation-delay:0s,0s"><span class="foot__mark"></span></span>
    <span class="foot foot--right foot--back" style="animation-delay:0.14s,0s"><span class="foot__mark"></span></span>
    <span class="foot-name" style="animation-delay:0s,0s"><span class="foot-name__text"></span></span>
  </div>
  <div class="trail trail--b" data-trail="b">
    <span class="foot foot--left" style="animation-delay:-5.5s,-5.5s"><span class="foot__mark foot__mark--l"></span></span>
    <span class="foot foot--right" style="animation-delay:-5.36s,-5.5s"><span class="foot__mark foot__mark--l"></span></span>
    <span class="foot foot--left foot--back" style="animation-delay:-5.5s,-5.5s"><span class="foot__mark"></span></span>
    <span class="foot foot--right foot--back" style="animation-delay:-5.36s,-5.5s"><span class="foot__mark"></span></span>
    <span class="foot-name" style="animation-delay:-5.5s,-5.5s"><span class="foot-name__text"></span></span>
  </div>
</div>
